*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/p1g44/nbproject/private/
/p1g44/nbproject/
/Test/nbproject/private/
/p1g44/build/
/DoolhofGroep44/nbproject/private/
/manifest.mf
/build.xml
/nbproject/
vpproject/